:root {
    --light-blue: rgb(141, 157, 252);
    --medium-blue: rgb(90, 115, 252);
    --dark-blue: rgb(26, 60, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color:#777777;
    padding: 30px;
}


header {
    /* background-image:linear-gradient(to right bottom, rgba(141, 157, 252, 0.6), rgba(26, 60, 255, 0.6)),
    url(/assets/img/header-bg.jpg); */
    background-size: cover;
    background-position: top;
    position: relative;
    background-color: rgba(var(--light-blue), 05);
}
