$light-blue: #8d9dfc;
$medium-blue: #5a73fc;
$dark-blue: #1a3cff;
$color-grey: #777777;
$color-white: #fff;
$color-black: #000;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$color-grey-light-1: #f7f7f7;
$default-font-size: 1.6rem;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #55c57e;