.card {
    &__side {
        color: white;
        font-size: 2rem;
        height: 45rem;
        &--front {
            background-color: orangered;
        }
        &--back {
            background-color: green;
        }
    }
}