.composition {
    position: relative;
    &__photo {
        @include respond (tab-port) {
            float: left;
            position: relative;
            width: 33.333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
            margin-bottom: 3rrem;
        }

        width: 50%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: .4);
        border-radius: .2rem;
        position: absolute;
        z-index: 1;
        outline-offset: 1rem;
        transition: all .2s;

        &--1 {
            left: 0;
            top: -2rem;
            @include respond (tab-port) {
                top: 0;
                transform: scale(1.1);
            }
        }
        &--2 {
            left: 20rem;
            top: 6rem;
            @include respond (tab-port) {
                top: -1;
                transform: scale(1.2);
                right: 0;
                z-index: 12;
            }
        }
        &--3 {
            left: 10%;
            top: 14rem;
            @include respond (tab-port) {
                top: 0;
                left: 0;
                transform: scale(1.1);
            }
        }
        // &:hover &:not(:hover) {
        //     transform: scale(3);
        // }
        &:hover {
            transform: scale(1.05);
            outline: 1.5rem solid $medium-blue;
            box-shadow: 0 2.5rem 4rem rgba($color-black, $alpha: .5);
            z-index: 5;
        }

    }
}

