.popup {
    height: 10vh;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, $alpha: .8);
    z-index: 100;

    &__img {
        height: 10vh;
        width: 10%;
    }
}

