.testimonial {
    width: 80%;
    padding: 6rem;
    margin: 0 auto 2rem;
    box-shadow: 0 3rem 6rem rgba($color-black, $alpha: .15);
    font-size: $default-font-size;
    border-radius: 100rem;
    background-color: rgba($color-white, .1);

}