.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -25rem;
}

.section-skills {
    background-color: $color-grey-light-1;
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, 
    rgba($light-blue, 0.6), 
    rgba($dark-blue, 0.6)), 
    url(https://images.unsplash.com/photo-1565538420870-da08ff96a207?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    
}